<h1> Task Description ✏️</h1>

<p>_________________________</p>
<h3><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>I have completed this task: <%= @task.completed %></p>
<p>_________________________</p>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to 'Back', task_path %>
